<<<<<<< HEAD
.Footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: lightblue;
  text-align: center;
  font-size: 16px;
  font-family: sans-serif;
  }
=======
.Footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  background-color: lightblue;
  color: white;
  margin-top: -21px;
}
>>>>>>> 9670606a445541047904807429969dc6154a1554
